<!DOCTYPE html>
<html ng-app>

  <head>
    <meta charset="utf-8">

    <title>Chiatrio</title>
  </head>

  <body>

    <form class="message" action="index.html" method="post">
      <!-- Get name -->
      <label for="name">Name: </label>
      <input type="text" name="name"><br />

      <!-- Get message -->
      <label for="message">Message: </label>
      <textarea name="message" cols="36" rows="4"></textarea>
    </form>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  </body>
</html>
