<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">

    <script src="angular.min.js"></script>
    <title>Chiatrio</title>
  </head>

  <body ng-app = "basicTweet" ng-controller="tweetController as tweet">

      <!-- Get name -->
      <label for="name">Name: </label><br>


      <!-- Get message -->
      <label for="message">Message: </label><br>

      <div>
        <button class="btn" ng-click="tweet.post()">Submit</button>
      </div>

    <p>Tweets here:<br>

    </p>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="../app/controllers/mainController.js"></script>

  </body>

</html>
